@edia(prefers-color-scheme: dark) {
    :root {
        --primary-color: #313131;
        --secondary-color: #fff;
        --black: #0C0C0C;
        --grey: #BBBBBB;
    }

    body {
        background: var(--primary-color);
    }

    .prenav {
        background: var(--black);
    }

    .nav__form,
    .nav__btn,
    .header__content-btn {
        border: 1px solid #FFFFFF;
        background: var(--primary-color);
    }

    .nav__btn {
        padding: 15px 0;
    }

    .logo::before {
        content: url('../images/logo-dark.png');
    }

    .menu__link {
        color: var(--secondary-color);
    }

    .menu__link:hover {
        color: var(--secondary-color);
    }


    .nav__btn:hover {
        background: var(--black);
    }


    .header__content-btn:hover,
    .btn-main:hover {
        background: var(--black);
    }

    .carousel-indicators [data-bs-target] {
        background: var(--grey);
    }

    .carousel-indicators [data-bs-target].active {
        background: var(--secondary-color);
    }

    .btn-main {
        border: 1px solid #FFFFFF;
        transition: 0.5s;
    }

    .section__content,
    .footer__btn {
        background: var(--primary-color);
    }

    .section__content:hover {
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    .btn-hover, .section4__btn, .section32__btn {
        border: 1px solid #FFFFFF;
    }

    .btn-hover:hover, .section4__btn:hover  {
        background: var(--black);
    }

    .header__content-title,
    .stitle,
    .sprice,
    .heart, 
    .section4__title,
    .dropdown-item,
    .section25__title,
    .section25__description,
    .page-item.active .page-link,
    .section25__nav-icon,
    .page-item:last-child .page-link,
    .s31__content-title,
    .s31__content-price,
    .s31__content-subtitle,
    .s31__content-link,
    .section32__title,
    .section32__description {
        color: var(--secondary-color);
    }


    .section2__img::before {
        content: url('../images/s2m1-dark.png');
    }

    .section2__img2::before {
        content: url('../images/s2m2-dark.png');
    }

    .section2__img3::before {
        content: url('../images/s2m3-dark.png');
    }

    .section2__img4::before {
        content: url('../images/s2m4-dark.png');
    }
    .section3__img::before {
        content: url('../images/s3m1-dark.png');
    }

    .section3__img2::before {
        content: url('../images/s3m2-dark.png');
    }

    .section3__img3::before {
        content: url('../images/s3m3-dark.png');
    }

    .section3__img4::before {
        content: url('../images/s3m4-dark.png');
    }
    
    .section4__img::before {
        content: url('../images/s4m-dark.png');
    }
    
    .section5__img::before {
        content: url('../images/s5m1-dark.png');
    }

    .section5__img2::before {
        content: url('../images/s5m2-dark.png');
    }

    .section5__img3::before {
        content: url('../images/s5m3-dark.png');
    }

    .section5__img4::before {
        content: url('../images/s5m4-dark.png');
    }
    
    .section23__img::before {
        content: url('../images/s23m1-dark.png');
    }

    .section23__img2::before {
        content: url('../images/s23m2-dark.png');
    }

    .section23__img3::before {
        content: url('../images/s23m3-dark.png');
    }

    .section23__img4::before {
        content: url('../images/s23m4-dark.png');
    }
    
    .section24__img::before {
        content: url('../images/s24m1-dark.png');
    }

    .section24__img2::before {
        content: url('../images/s24m2-dark.png');
    }

    .section24__img3::before {
        content: url('../images/s24m3-dark.png');
    }

    .section24__img4::before {
        content: url('../images/s24m4-dark.png');
    }

    .section__title {
        color: var(--secondary-color);
    }

    .section4__logo::before {
        content: url('../images/section4__logo-dark.png');
    }


    .footer {
        background: var(--black);
    }
    
    .header__content-img1::before {
        content: url('../images/header__content-img1-dark.png');
    }

    .header__content-img2::before {
        content: url('../images/header__content-img2-dark.png');
    }

    .h3m1::before {
        content: url('../images/h3m1-dark.png');
    }
    .h3m2::before {
        content: url('../images/h3m2-dark.png');
    }
    .h3m3::before {
        content: url('../images/h3m3-dark.png');
    }
    .h3m4::before {
        content: url('../images/h3m4-dark.png');
    }

    .s21__img::before {
        content: url('../images/h3s2m1-dark.png');
    }

    .dm2 {
        background: #0C0C0C;
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
    }
    
    .rectangle {
        background: var(--secondary-color);
    }

    .page-item.active .page-link::after {
        border-color: var(--secondary-color);
    }
    
    .page-link:hover {
        color: var(--secondary-color);
    }

    .s31__content-btn:hover {
        background: #0C0C0C;
    }

    .section32__btn:hover {
        background: var(--black);
    }
}

@media(max-width: 1400px) {
    .section__discount {
        font-size: 16px;
        width: 50px;
        height: 50px;
    }

    .grid__title, .grid__price {
        font-size: 20px;
    }



} 

@media(max-width: 1196px) {
    .section1__grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .section__block:nth-of-type(2), .section__block:nth-of-type(3), .section__block:nth-of-type(4) {
        grid-row: span 2;
        grid-column: span 2;
    }

    .section__block:nth-of-type(2) .grid__img {
        height: 100%;
    } 


    
}

@media(max-width: 965px) {
    .menu__link {
        margin-bottom: 20px;
    }
}
 